<html lang='en'>
  <body>
    <p>Greetings {{name}},</p>
    <br />
    <p>Welcome to RecoPostHub,</p>
    <p>
      Click
      <b><a href='{{link}}' target='_blank'>here</a></b>
      to activate your account
    </p>
    <p><small>This link will expire in an hour.</small></p>
    <br />
    <p>Best of luck,</p>
    <p>RecoPostHub Team</p>
  </body>
</html>